.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
out/
build.version
bin/

### STS ###
.sts4-cache/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
